<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empresas</title>
</head>
<body>
<h1>Editar empresa</h1>

<form th:action="@{/actualizarEmpresa/}+${empresa.id}" method="post" th:object="${empresa}">
    <label for="nombreEmpresa">Nombre</label>
    <input type="text" name="nombreEmpresa" th:field="*{nombreEmpresa}"><br>
    <label for="NIT">NIT</label>
    <input type="number" name="NIT" th:field="*{NIT}"><br>
    <label for="direccionEmpresa">Direccion</label>
    <input type="text" name="direccionEmpresa" th:field="*{direccionEmpresa}"><br>
    <label for="telefonoEmpresa">Telefono</label>
    <input type="text" name="telefonoEmpresa" th:field="*{telefonoEmpresa}"><br>

    <input type="submit" name="guardar" value="Guardar">

</form>
<button><a th:href="@{/empresas/verEmpresas}">Atras</a> </button>


</body>
</html>