<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empresas</title>
</head>
<body>
<h1>Lista de empresas</h1>
<button><a th:href="@{/empresas/crearEmpresa}">Nueva Empresa</a> </button>
<table border="1">
    <tr>
        <th>Nombre</th>
        <th>NIT</th>
        <th>Direccion</th>
        <th>telefono</th>
        <th>Fecha Creacion</th>
        <th>Fecha Actualizacion</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    <tr th:each="empresa : ${empresas}">
        <td th:text = "${empresa.nombreEmpresa}">Nombre</td>
        <td th:text = "${empresa.NIT}">Documento</td>
        <td th:text = "${empresa.direccionEmpresa}">Correo</td>
        <td th:text = "${empresa.telefonoEmpresa}">Rol</td>
        <td th:text = "${empresa.fechaCr}">Fecha Creacion</td>
        <td th:text = "${empresa.fechaUpd}">Fecha Actualizacion</td>
        <td><button><a th:href="@{/empresas/editarEmpresa}">Editar</a> </button></td>
        <td><button><a th:href="@{/empresas/eliminarEmpresa}">Eliminar</a> </button></td>
    </tr>
</table>

</body>
</html>