<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IngresosEgresos</title>
</head>
<body>
<h1>Aplicacion Ingresos Egresos</h1>
<p th:text="${mensaje}">lista</p>
<a th:href="@{/usuarios/verUsuarios}">Usuarios</a><br/>
<a th:href="@{/empresas/verEmpresas}">Empresas</a><br/>
<a th:href="@{/movimientos/verMovimientos}">Movimientos</a><br/>


</body>
</html>